/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
body {
	margin: 0 auto 0 auto;
	width: 1440px;
	font-family: "Roboto", sans-serif;
	color: #434455;
}

/* Header */

header {
	display: flex;
	width: 100%;
}

header>nav {
	display: flex;
	margin-right: auto;
}

header>address {
	display: flex;
	margin-left: auto;
}

/* Nan */

.title {
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 800;
	color: #4d5ae5;
	font-size: 18px;
	letter-spacing: 0.03em;
	margin: 24px 76px 24px 156px;
}

.title>span {
	color: #4D5AE5;
}

.header-nav {
	display: flex;
	margin: 24px 0 24px 0;
}

.header-nav-li {
	font-weight: 500;
	font-size: 16px;
	color: #2E2F42;
	margin: 0 40px 0 0;
}

.header-nav-li>a {
	color: #2E2F42;
}

/* Address */

.header-info {
	display: flex;
	margin: 24px 156px 24px 0;
}

.header-info-li {
	font-style: normal;
	font-size: 16px;
	margin: 0 0 0 40px;
}

.header-info-li>a {
	color: #2E2F42;
}



/* Main */


/* Introduction */

.introduction {
	width: 100%;
	min-height: 600px;
	background-color: #2E2F42;
	display: flex;
	justify-content: center;
}

.introduction>div {
	text-align: center;
}

.main-title {
	max-width: 500px;
	font-weight: 700;
	font-size: 56px;
	color: #FFFFFF;
	margin: 186px 0 48px 0;
}

.introduction-button {
	width: 168px;
	height: 56px;
	background: #4D5AE5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: #FFFFFF;
}

/* Info-text */

.info-text-section {
	width: 100%;
	margin: 120px 0 0 0;
}

.info-text-section>h2 {
	display: none;
}

.info-text {
	margin: 0 auto 0 auto;
	width: 1128px;
	min-height: 104px;
	display: flex;
	justify-content: space-between;
}

.info-text-li {
	width: 264px;
	color: #434455;
	line-height: 24px;
}

.info-text-li>h3 {
	font-weight: 500;
	font-size: 20px;
	color: #2E2F42;
	margin: 0 0 8px 0;
}

/* Info-pictures */

.info-pictures-section {
	width: 1128px;
	display: block;
	margin: 120px auto 0 auto;
	text-align: center;
}

.info-pictures-section>h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	color: #2E2F42;
	margin: 0 0 72px 0;
}

.info-pictures {
	display: flex;
	justify-content: space-between;
}

.info-pictures>li {}

/* Team */

.team-section {
	width: 100%;
	height: 732px;
	margin: 120px 0 0 0;
	padding-top: 120px;
	text-align: center;
	background: #F4F4FD;
}

.team-section>h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	color: #2E2F42;
}

.team {
	width: 1128px;
	display: flex;
	margin: 72px auto 0 auto;
	justify-content: space-between;
}

.team-li {
	width: 264px;
	height: 380px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-text {
	width: 232px;
	height: 56px;
	margin: 32px auto 0 auto;
	text-align: center;
}

.team-text>h3 {
	font-weight: 500;
	font-size: 20px;
	color: #2E2F42;
	margin: 0 0 8px 0;
}

.team-text>p {
	color: #434455;
}


/* Footer */

footer {
	width: 100%;
	height: 310px;
	padding: 100px 0 0 0;
	background: #2E2F42;
}

footer .title {
	font-weight: 800;
	font-size: 18px;
	color: #F4F4FD;
	margin: 0;
}

.footer-conteiner {
	width: 264px;
	margin: 0 0 0 156px;
}

.footer-conteiner p {
	color: #E7E9FC;
	line-height: 24px;
	margin: 24px 0 0 0;
}